<!DOCTYPE html>
<html>
  <head>
    <title>Rails RPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div>
      <ul>
        <li><a href="/rock">Play Rock</a></li>
        <li><a href="/paper">Play Paper</a></li>
        <li><a href="/scissors">Play Scissors</a></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
